*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
}

.main-photo {
position: relative;
width: 100%;
min-height: auto;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background-position: center;
background-image: url('../img/main.jpg');
text-align: center;
}

.photo1 {

}

.photo2 {

}

.info-tile1 {
  background-color: #1d3b87;
}

.info-tile2 {
  background-color: #21b796;
}

@media only screen and (max-width:600px) {
  .main-photo {
    float:left;
    width: 100vw;
    height: 50vh;
  }

  .photo1 {
    float: left;
    width: 33vw;
    height: 25vh;
  }

  .info-tile1 {
    float: left;
    width: 67vw;
    height: 25vh;
  }

  .photo2 {
    float: left;
    width: 33vw;
    height: 25vh;
  }

  .info-tile2 {
    float: left;
    width: 67vw;
    height: 25vh;
  }

/*@media only screen and (min-width:601px) {
  .main-photo {
    float:left;
    width: 100vw;
    height: 55vh;
  }

  .photo1 {
    float: left;
    width: 33vw;
    height: 25vh;
  }

  .info-tile1 {
    float: left;
    width: 67vw;
    height: 25vh;
  }

  .photo2 {
    float: left;
    width: 33vw;
    height: 25vh;
  }

  .info-tile2 {
    float: left;
    width: 67vw;
    height: 25vh;
  }
}*/
