*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.main-tile {
  background-image: url('../img/main.jpg');
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: top;
}

.tile1 {
  width: 100vw;
  height: 25vh;
}

.photo1 {
  background-image: url('../img/photo1.jpg');
  width:33vw;
  height:25vh;
  float: left;
  background-size: cover;
  background-position: center;
}

.info-tile1 {
  background-color: #1d3b87;
  width: 67vw;
  height: 25vh;
  float: right;
}


.tile2 {
  width: 100vw;
  height: 25vh;
}

.photo2 {
  background-image: url('../img/photo2.jpg');
  width: 33vw;
  height: 25vh;
  float: left;
  background-size: cover;
  background-position: right;
}

.info-tile2 {
  background-color: #21b796;
  width: 67vw;
  height: 25vh;
  float: right;
}

@media only screen and (min-width:600px) {
  .main-tile {
    width: 100vw;
    height: 55vh;
  }

  .tile1 {
    width: 50vw;
    height: 45vh;
    float: left;
  }

  .photo1 {
    width: 50vw;
    height: 30vh;
    float:left;
  }

  .info-tile1 {
    width: 50vw;
    height: 15vh;
    float:left;
  }

  .tile2 {
    width: 50vw;
    height: 45vh;
    float: right;
  }

  .photo2 {
    width: 50vw;
    height: 30vh;
    float:right;
  }

  .info-tile2 {
    width: 50vw;
    height: 15vh;
    float:right;
  }

}

@media only screen and (min-width:1000px) {
  .main-tile {
    width: 70%;
    height: 100vh;
    float: left;
  }

  .tile1 {
    width: 30%;
    height: 50vh;
  }

  .photo1 {
    width: 30vw;
    height: 30vh;
  }

  .info-tile1 {
    width: 30vw;
    height: 20vh;
  }

  .tile2 {
    width: 30%;
    height: 50vh;
  }

  .photo2 {
    width: 30vw;
    height: 30vh;
  }

  .info-tile2 {
    width: 30vw;
    height: 20vh;
  }
}
/*img.main-photo {
position: relative;
width: 100%;
min-height: auto;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background-position: center;
background-image: url('../img/main.jpg');
text-align: center;
}

.main-photo {
  float:left;
  width: 100vw;
  height: 50vh;
}

.photo1 {
  float: left;
  width: 33vw;
  height: 25vh;
}

.info-tile1 {
  float: left;
  width: 67vw;
  height: 25vh;
}

.photo2 {
  float: left;
  width: 33vw;
  height: 25vh;
}

.info-tile2 {
  float: left;
  width: 67vw;
  height: 25vh;
}

.info-tile1 {
  background-color: #1d3b87;
}

.info-tile2 {
  background-color: #21b796;
}

.med-info-tile1 {
  display: none;
  background-color: #1d3b87;
}

.med-info-tile2 {
  background-color: #21b796;
  display: none;
}


@media only screen and (min-width:600px) {
  .main-photo {
    float:left;
    width: 100vw;
    height: 55vh;
  }

  .photo1 {
    float: left;
    width: 50vw;
    height: 30vh;
  }

  .med-info-tile1 {
    float: left;
    width: 50vw;
    height: 15vh;

  }

  .photo2 {
    float: left;
    width: 50vw;
    height: 30vh;
  }

  .med-info-tile2 {
    float: left;
    width: 50vw;
    height: 15vh;
  }

  .info-tile1, .info-tile2 {
    display: none;
  }
}

@media only screen and (min-width:1025px) {
  .main-photo {
    float:left;
    width: 70vw;
    height: 100vh;
  }

  .photo1 {
    float: left;
    width: 30vw;
    height: 30vh;
  }

  .info-tile1 {
    float: left;
    width: 30vw;
    height: 20vh;
  }

  .photo2 {
    float: right;
    width: 30vw;
    height: 30vh;
  }

  .info-tile2 {
    float: left;
    width: 30vw;
    height: 20vh;
  }
}*/
