*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}


.main-tile {
  background-image: url('../img/main.jpg');
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: top;
  padding-top: 28vh;
}

.inside-tile {
  background-color: #555759;
  padding: 10px;
  width: 90vw;
  margin-left: 15px;
}

.tile1 {
  width: 100vw;
  height: 25vh;
}

.photo1 {
  background-image: url('../img/photo1.jpg');
  width:33vw;
  height:25vh;
  float: left;
  background-size: cover;
  background-position: center;
}

.info-tile1 {
  background-color: #1d3b87;
  width: 67vw;
  height: 25vh;
  float: right;
  padding-left: 20px;
  padding-bottom: 40px;
}


.tile2 {
  width: 100vw;
  height: 25vh;
}

.photo2 {
  background-image: url('../img/photo2.jpg');
  width: 33vw;
  height: 25vh;
  float: left;
  background-size: cover;
  background-position: right;
}

.info-tile2 {
  background-color: #21b796;
  width: 67vw;
  height: 25vh;
  float: right;
  padding-left: 20px;
  padding-bottom: 40px;
}

@media only screen and (min-width:600px) {
  .main-tile {
    width: 100vw;
    height: 55vh;
  }

  .inside-tile {
    width: 12em;
  }

  .tile1 {
    width: 50vw;
    height: 45vh;
    float: left;
  }

  .photo1 {
    width: 50vw;
    height: 30vh;
    float:left;
  }

  .info-tile1 {
    width: 50vw;
    height: 15vh;
    float:left;
  }

  .tile2 {
    width: 50vw;
    height: 45vh;
    float: right;
  }

  .photo2 {
    width: 50vw;
    height: 30vh;
    float:right;
  }

  .info-tile2 {
    width: 50vw;
    height: 15vh;
    float:right;
  }

}

@media only screen and (min-width:1000px) {
  .main-tile {
    width: 70%;
    height: 100vh;
    float: left;
  }

  .tile1 {
    width: 30%;
    height: 50vh;
  }

  .photo1 {
    width: 30vw;
    height: 30vh;
  }

  .info-tile1 {
    width: 30vw;
    height: 20vh;
  }

  .tile2 {
    width: 30%;
    height: 50vh;
  }

  .photo2 {
    width: 30vw;
    height: 30vh;
  }

  .info-tile2 {
    width: 30vw;
    height: 20vh;
  }
}
